/*-----------------------------------------------
|   Card
-----------------------------------------------*/
.card{
  border-radius: 0;
  border: 0;
}
.card-link {
  font-size: map_get($font-sizes, "-1");

}
.card-hover{
  transform: translateY(0) translateZ(0);
  transition: all 0.3s ease-out;
  background-color:#ffffff73;
  border:0;
  .icon-box{
    .gs-icon-hover{
      display:none;
    }
    
    .gs-icon{
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
  }

  &:hover,
  &:focus {
    background-color: $primary;
    .explore-link{
      color: $secondary;
      text-decoration: none;
    }
    .gs-icon{
      display: none;
    }
    .gs-icon-hover{
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
    
  }

}


